@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply font-sans bg-slate-950 text-slate-50;
}

.gradient-bg {
  background: radial-gradient(circle at top left, #22d3ee33, transparent 55%),
    radial-gradient(circle at bottom right, #4f46e533, transparent 55%);
}
